.search-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Ensure it takes full width to align centrally */
    margin-top: 1rem; /* Space from heading */
    position: relative;
    z-index: 1;
  }
  
  .searchBox {
    display: flex;
    align-items: center;
    width: 100%; /* Allow searchBox to take full width */
    max-width: 700px; /* Max width to ensure it doesn't get too wide */
    background: white;
    border-radius: 50px;
    padding: 8px; /* Add padding to ensure content isn't touching the edges */

  }
  
  .searchIcon {
    margin-right: 8px; /* Space between the icon and the input */
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: black; /* Change to black for better contrast on white background */
    font-size: 15px;
    padding: 12px; /* Adjust padding for better alignment */
    flex: 1; /* Allow input to take available space */
  }
  
  .searchButton {
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(176, 5, 79);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    flex-shrink: 0; /* Prevent button from shrinking */
  }
  
  /* Hover effect */
  .searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  
  /* Button pressing effect */
  .searchButton:active {
    box-shadow: none;
    transform: translateY(0);
  }
  