btn {
    margin-top: 10px;
    padding: 15px 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color:hsl(344, 80%, 54%);
    box-shadow: rgba(255, 255, 255, 0.05) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: inherit;
    font-size: 15px;
    transition: all 0.5s ease;
    color: whitesmoke;
  }
  
  btn:hover {
    letter-spacing: 3px;
    background-color: hsl(344, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow:  hsl(344, 84%, 45%);
  }
  
  btn:active {
    letter-spacing: 3px;
    background-color: hsl(344, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow:  hsl(344, 84%, 45%);
    transform: translateY(10px);
    transition: 100ms;
  }
  